DATABASE_URL="postgresql://neondb_owner:npg_ZyMp4PhjGF9X@ep-fancy-unit-a4rusto9-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=8080
JWT_SECRET="5c6691c149e00f657590cc48e2affe9b"